{{define "AppointmentCard"}}
    <div class="appointment">
        <div class="info">
            <div>
                <h1 class="name">Gringo style</h1>
                <p class="category">Coiffeur</p>
            </div>
            <span class="type"></span>
        </div>
        <div class="metadata">
            <img src="/static/location.svg" class="icon" />
            <p class="text">7 Rue argentine, 75016 Paris</p>
        </div>
        <div class="metadata">
            <img src="/static/clock.svg" class="icon" />
            <p class="text">14h30</p>
        </div>
        <div class="action">
            <button type="button" class="btn">Annuler</button>
            <button type="button" class="btn">Changer</button>
        </div>
    </div>
{{end}}
