{{define "EtablishmentCard"}}

    <div class="etablishment_card">
        <a href="/etablissement/4">
            <div class="content">
                <img src="/static/barber.svg" class="categoryIcon" />
                <div>
                    <h1 class="name">Gringo Style</h1>
                    <p class="category">Coiffeur</p>
                    <div class="rating">
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/star.svg" class="star" />
                        <img src="/static/star.svg" class="star" />
                    </div>
                </div>
            </div>
            <div class="metadata">
                <img src="/static/location.svg" class="icon" />
                <p>7 Avenue Victor Hugo, 75016 Paris</p>
            </div>
            <div class="metadata">
                <img src="/static/clock.svg" class="icon" />
                <p>7h00</p>
            </div>
        </a>
        <div class="rdv">
            <a href="#" class="btn">Rendez-vous</a>
        </div>
    </div>
{{end}}
