@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --primary-color: #0278FF;
    --border-color: #C9C9C9;
    --input-color: #e7e7e7;
    --etablishment-appointment-color: #FFC629;
    --appointment-color: #93C5FF;

    --success-color: #35b14a;
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-size: 14px;
}

main{
    margin-inline: 10px; 
    min-height: calc(100vh - 50px);
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    &:has(:not(#search:popover-open)){
        border-bottom: 2px solid var(--border-color);
    }
    &:has(#search:popover-open){
        border-bottom: none;
    }
    .logo{
        height: 2rem;
        aspect-ratio: 1/1;
    }
    .navigation{
        display: flex;
        gap: 1rem;
        .btn{
            height: 2rem;
            aspect-ratio: 1/1;
        }
    }
    #search{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        margin: 0;
        padding-bottom: .5rem;
        &:popover-open{
            padding-inline: 10px;
            border-bottom: 2px solid var(--border-color);
        }
        &::backdrop{
            background-color: transparent;
            backdrop-filter: blur(0px);
        }
        .field{
            display: grid;
            grid-template-columns: 1fr .7fr;
            gap: .5rem;
            .input{
                width: 100%;
                height: 2.5rem;
                border-radius: 25px;
                padding-left: 10px;
                padding-right: 36px;
                background-color: var(--input-color);
            }
            .my-position{
                position: absolute;
                right: 10px;
                padding: 0;
                .icon{
                    width: 24px;
                    aspect-ratio: 1/1;
                }
            }
        }
        #suggest-addr{
            .suggest{
                line-height: 2rem;
                font-weight: bold;
            }
        }
    }
    .signBtn{
        padding: .5rem;
        border-radius: 5px;
        background-color: var(--primary-color);
        font-weight: bold;
        color: white;
    }
}

button{
    background-color: transparent;
}

a{
    text-decoration: none;
    color: black;
}

*[popover]{
    margin: auto;
}

*[popover]::backdrop{
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.hidden{
    display: none;
}
